@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

section {
    background: url('/images/backgound.png') center/cover no-repeat;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 14px;
}

.btn-submit {
    background-color: indianred;
    padding: 10px 15px;
    display: block;
    width: 100%;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 14px;
}

.btn-submit:hover {
    background-color: tomato;
    cursor: pointer;
}

form {
    background-color: #ffffff3f;
    backdrop-filter: blur(2px);
    min-width: 100%;
    padding: 40px 25px;
    border-radius: 25px;
}

@media (min-width:375px) {
    form {
        min-width: 330px;
    }
}

h1 {
    color: #252525;
    margin-bottom: 20px;
    text-align: center;
}

.error-border {
    border: 2px solid red;
    color: red;
}

#email-error-message,
#password-error-message {
    color: #ffe1e1;
    font-size: 12px;
    position: absolute;
    left: 6px;
    bottom: -18px;
}

.form-input-box {
    margin-bottom: 25px;
    position: relative;
}